This is the notebook for my Coursera Data Science Capstone.

In [1]:
import pandas as pd
import numpy as np
print('Pandas and numpy imported')

Pandas and numpy imported

Week 3 Lab: Segmenting and Clustering Neighborhoods in Toronto

"For this assignment, you will be required to explore and cluster the neighborhoods in Toronto.

Start by creating a new Notebook for this assignment.

Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:
"

Part I: Creating the Postal Codes/Boroughs/Neighborhoods Dataframe

In [2]:
import requests
import lxml.html as lh
import pandas as pd

In [3]:
#get table from wikipedia
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
page = requests.get(url)
doc = lh.fromstring(page.content)

#parse table
tr_elements = doc.xpath('//tr')

#get table headers
col=[]
i=0
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    col.append((name.strip('\n'),[]))

In [4]:
#get table data
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 3, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    i=0
    for t in T.iterchildren():
        data=str(t.text_content())
        col[i][1].append(data.strip('\n'))
        #Increment i for the next column
        i+=1

In [5]:
#create df
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned
1         M2A      Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [6]:
#drop unassigned boroughs and re-index
df.drop(df[df['Borough'] == "Not assigned"].index, inplace = True) 
df.reset_index(drop = True, inplace = True)
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [7]:
print(df.shape)

(104, 3)

In [ ]:
Part II: Getting Coordinates